@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card shadow">
            <h5 class="card-header">Confirme suas credênciais</h5>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Email </label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Entre com E-mail" />
                    </div>
                    <div class="col-sm-12">
                        <label>Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-sm-12 py-2">
                    <button class="btn btn-block btn-outline-info" onclick="confirmarVerificacao()"><i class="fa fa-check"></i> Verificar</button>
                </div>
            </div>
            <div class="form-group mx-auto">

                <a class="btn btn-link btn-sm" href="@Url.Action("Index", "Home")">Voltar à Home</a>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmarVerificacao() {
        let parametro = verificaParametroURL();
        let email = $("#email").val();
        let senha = $("#senha").val();
        if (email == "") {
            bootbox.alert({ title: "Atenção", message: "Preencha o E-mail " });
            return;
        }
        if (senha == "") {
            bootbox.alert({ title: "Atenção", message: "Preencha o sua Senha" });
            return;
        }
        $.ajax({
            cache: false,
            type: 'POST',
            "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({ "chave": parametro, "email": email, "senha": senha}),
            url: '@Url.Action("ConfirmCredentials", "Home")',
            success: function (data) {
                if (data.result) {
                    bootbox.alert({ title: "Atenção", message: data.message });

                    //setTimeout(function () { window.close(); }, 4000);
                }
                else {
                    bootbox.alert({ title: "Atenção", message: data.message });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                if (XMLHttpRequest.status == 401) {
                    bootbox.alert({ title: "<span class='bg-danger'>Atenção!</span>", message: "Erro:" + " " + XMLHttpRequest.status + " <br/>Não autorizado, por favor faça login para continuar" })
                }
                if (XMLHttpRequest.status == 404) {
                    bootbox.alert({ title: "<span class='bg-danger'>Atenção!</span>", message: "Erro:" + " " + XMLHttpRequest.status + " <br/>Usuário ou senha não encontrados" })
                }


            }
        });
    }
    function verificaParametroURL() {
        var query = location.search.slice(1);
        var partes = query.split('&');
        var data = {};
        var codigo = "";
        partes.forEach(function (parte) {
            //se n sabe o nome da variavel vamos dividir pelo = que é onde recebe
            var chaveValor = parte.split('=');
            var chave = chaveValor[0];
            var valor = chaveValor[1];
            //aqui está seu parâmetro
            codigo = chaveValor[1];
        });
        if (query == "" || query == null) {
            return query;
        }
        else
            return codigo;
    }
</script>
